<template>
  <section>
    <h1>{{ $t('components.articlesList.headline') }}</h1>
    <v-row v-if="articles && $auth.loggedIn">
      <v-col
        v-for="article in articles"
        :key="article.id"
        lg="4"
        md="8"
        xs="12"
      >
        <ArticleComponent :article="article" />
      </v-col>
    </v-row>
  </section>
</template>

<script>
import ArticleComponent from '~/components/articles/component'
import articlesQuery from '~/graphql/articlesQuery.graphql'

export default {
  name: 'ArticlesListComponent',
  components: {
    ArticleComponent
  },
  props: {
    articles: {
      type: Array,
      default: null
    }
  }
}
</script>
