<template>
  <v-layout column justify-center align-center class="article-detail">
    <v-flex xs12 sm8 md6 v-if="article">
      <v-img
        v-if="article.media[0]"
        class="white--text align-end"
        height="200px"
        :srcset="`${getMediaURL(article.media[0].formats.small.url)} ${
          breakpoints.sm
        }w, ${getMediaURL(article.media[0].formats.medium.url)} ${
          breakpoints.md
        }w, ${getMediaURL(article.media[0].formats.large.url)} ${
          breakpoints.md
        }w`"
        :sizes="`(max-width: ${breakpoints.sm}px), (min-width: ${breakpoints.sm}px) (max-width: ${breakpoints.md}px), (min-width: ${breakpoints.md}px)`"
        :src="getMediaURL(article.media[0].formats.large.url)"
        :alt="article.media[0].alternativeText"
      >
        <v-card-title class="title">{{ article.title }}</v-card-title>
      </v-img>
      <ArticleSpeedDialComponent :article="article" />
      <p class="my-4 updatedAt">
        {{ $moment(article.updatedAt).format('LL') }}
      </p>
      <p class="my-4 summary">{{ article.summary }}</p>
      <client-only>
        <p class="intro" v-html="$md.render(article.intro)"></p>
        <p class="body" v-html="$md.render(article.body)"></p>
      </client-only>
    </v-flex>
  </v-layout>
</template>

<script>
import articleDetailQuery from '~/graphql/articleDetailQuery.graphql'
import ArticleSpeedDialComponent from '~/components/speedDials/article'

export default {
  name: 'ArticleDetailsPage',
  components: {
    ArticleSpeedDialComponent
  },
  nuxtI18n: {
    paths: {
      en: '/articles/:slug',
      nl: '/artikelen/:slug'
    }
  },
  data() {
    return {
      article: null,
      breakpoints: {}
    }
  },
  beforeMount() {
    this.breakpoints = this.$vuetify.breakpoint.thresholds
  },
  apollo: {
    articles: {
      query: articleDetailQuery,
      variables() {
        return {
          slug: this.$route.params.slug
        }
      },
      result({ data }) {
        if (data && data.articles && data.articles[0]) {
          this.article = data.articles[0]
          this.article.fab = false
        }
      },
      prefetch: true
    }
  },
  head() {
    if (this.article) {
      const metadata = this.article.SEO
      const path = this.$route.path
      return this.createSeoTags({ metadata, path })
    }
  }
}
</script>

<style lang="scss" scoped>
.article-detail {
  .title {
    font-size: 2rem !important;
    text-shadow: 2px 2px 2px rgba(150, 150, 150, 0.6);
  }
  .summary {
    font-style: italic;
  }
}
</style>
