<template>
  <v-layout column justify-center align-center>
    <v-flex xs12 sm8 md6>
      <h1>{{ $t('pages.articles.headline') }}</h1>
      <ArticlesListComponent
        v-if="$auth.loggedIn && articles"
        :articles="articles"
        class="mt-8"
      />
      <NotLoggedInComponent v-else />
    </v-flex>
  </v-layout>
</template>

<script>
import ArticlesListComponent from '~/components/articles/list'
import NotLoggedInComponent from '~/components/notLoggedIn'
import articlesQuery from '~/graphql/articlesQuery.graphql'
export default {
  name: 'ArticlesPage',
  components: {
    ArticlesListComponent,
    NotLoggedInComponent
  },
  nuxtI18n: {
    paths: {
      en: '/articles',
      nl: '/artikelen'
    }
  },
  data() {
    return {}
  },
  computed: {
    articles() {
      return this.$store.getters['articles/articles']()
    }
  },
  mounted() {
    this.$store.dispatch('articles/getArticles')
  }
}
</script>
