<template>
  <v-btn color="primary" nuxt :to="localeRoute('admin-login')">
    {{ $t('buttonLabels.adminLogin') }}
  </v-btn>
</template>

<script>
export default {
  name: 'AdminLoginButton'
}
</script>
