<template>
  <v-expansion-panels
    v-if="$auth.loggedIn && $auth.user.roles && $auth.user.roles.length > 0"
  >
    <v-expansion-panel>
      <v-expansion-panel-header>Admin menu</v-expansion-panel-header>
      <v-expansion-panel-content>
        <v-btn icon>
          <v-icon>mdi-magnify</v-icon>
        </v-btn>
      </v-expansion-panel-content>
    </v-expansion-panel>
  </v-expansion-panels>
</template>

<script>
export default {
  name: 'AdminMenuComponent',
  data() {
    return {}
  },
  computed: {
    availableLocales() {
      return this.$i18n.locales.filter((i) => i.code !== this.$i18n.locale)
    }
  }
}
</script>
