<template>
  <v-app-bar app>
    <v-app-bar-nav-icon @click.stop="toggleLeftDrawer()" />
    <nuxt-link :to="localePath('/')">
      <v-toolbar-title v-text="title" />
    </nuxt-link>
    <v-spacer />
    <span v-if="$auth.loggedIn">
      {{ $auth.user.username }}
    </span>
    <v-btn
      v-if="$auth.loggedIn && !$auth.user.blocked"
      icon
      :to="localePath('profile')"
      router
    >
      <v-icon>mdi-account</v-icon>
    </v-btn>
    <v-btn v-if="$auth.loggedIn && $auth.user.blocked" icon @click.stop="">
      <v-icon>mdi-account-lock</v-icon>
    </v-btn>
    <v-btn v-if="$auth.loggedIn" icon :to="localePath('logout')" router>
      <v-icon>mdi-logout</v-icon>
    </v-btn>
    <v-menu offset-y>
      <template v-slot:activator="{ on }">
        <v-img
          :src="`/icons/lang/${getCurrentLang()}.png`"
          max-width="36"
          max-height="36"
          v-on="on"
        ></v-img>
      </template>
      <v-list>
        <v-list-item v-for="locale in availableLocales" :key="locale.code">
          <v-list-item-title>
            <nuxt-link :to="switchLocalePath(locale.code)">
              <v-img
                :src="`/icons/lang/${locale.code}.png`"
                max-width="36"
                max-height="36"
              ></v-img>
            </nuxt-link>
          </v-list-item-title>
        </v-list-item>
      </v-list>
    </v-menu>
  </v-app-bar>
</template>

<script>
export default {
  name: 'NavBarComponent',
  data() {
    return {
      title: 'Headless demo'
    }
  },
  computed: {
    availableLocales() {
      return this.$i18n.locales.filter((i) => i.code !== this.$i18n.locale)
    }
  },
  methods: {
    getCurrentLang() {
      return this.$i18n.locale
    },
    toggleLeftDrawer() {
      this.$store.commit('drawers/toggleLeftDrawer')
    }
  }
}
</script>
