<template>
  <div v-if="!isLoggedIn">
    <p>{{ notLoggedInMsg }}</p>
    <signupUserButton />
    <userLoginButton />
  </div>
</template>

<script>
import signupUserButton from '~/components/buttons/signupUser'
import userLoginButton from '~/components/buttons/userLogin'

export default {
  name: 'NotLoggedInComponent',
  components: {
    signupUserButton,
    userLoginButton
  },
  props: {
    notLoggedInMsg: ''
  },
  computed: {
    isLoggedIn() {
      return this.$store.getters['user/isLoggedIn']
    }
  }
}
</script>
