<template>
  <v-footer>
    <span>&copy; {{ new Date().getFullYear() }}</span>
  </v-footer>
</template>

<script>
export default {
  name: 'FooterComponent',
  data() {
    return {}
  },
}
</script>
