<template>
  <v-speed-dial
    :v-model="article.fab"
    bottom
    right
    direction="top"
    transition="slide-y-reverse-transition"
    class="text-right"
    v-if="$auth.loggedIn && $auth.user.roles"
  >
    <template v-slot:activator>
      <v-btn
        class="mx-2"
        fab
        dark
        :color="
          article.status === 'draft'
            ? 'orange darken-2'
            : article.status === 'published'
            ? 'success'
            : 'red darkens-2'
        "
      >
        <v-icon>mdi-format-list-bulleted-square</v-icon>
      </v-btn>
    </template>
    <v-btn
      dark
      color="orange"
      small
      @click="updateArticleStatus(article, 'draft')"
    >
      {{ $t('buttonLabels.draft') }}
    </v-btn>
    <v-btn
      dark
      color="green"
      small
      @click="updateArticleStatus(article, 'published')"
    >
      {{ $t('buttonLabels.publish') }}
    </v-btn>
    <v-btn
      dark
      color="red"
      small
      @click="updateArticleStatus(article, 'archived')"
    >
      {{ $t('buttonLabels.archive') }}
    </v-btn>
    <a
      :href="`${$config.cmsUrl}/admin/plugins/content-manager/collectionType/application::article.article/${article.id}`"
      target="_blank"
    >
      <v-btn fab dark small color="grey">
        <v-icon>mdi-pencil</v-icon>
      </v-btn>
    </a>
  </v-speed-dial>
</template>

<script>
export default {
  name: 'ArticleSpeedDialComponent',
  props: {
    article: Object
  },
  methods: {
    async updateArticleStatus({ id }, status) {
      this.$store.dispatch('articles/updateArticleStatus', { id, status })
    }
  }
}
</script>

<style>
.v-speed-dial__list {
  align-items: flex-end;
}
.v-speed-dial--right {
  right: 5px;
  top: -30px;
}
</style>
