<template>
  <v-app dark>
    <LeftDrawerComponent />
    <NavBarComponent />
    <v-main>
      <AdminMenuComponent />
      <v-container>
        <BreadcrumbsComponent />
        <nuxt />
      </v-container>
    </v-main>
    <FooterComponent />
  </v-app>
</template>

<script>
import AdminMenuComponent from '~/components/adminMenu'
import BreadcrumbsComponent from '~/components/breadcrumbs'
import NavBarComponent from '~/components/navbar'
import LeftDrawerComponent from '~/components/drawers/leftDrawer.vue'
import FooterComponent from '~/components/footer'

export default {
  name: 'DefaultComponent',
  components: {
    AdminMenuComponent,
    BreadcrumbsComponent,
    NavBarComponent,
    LeftDrawerComponent,
    FooterComponent
  },
  middleware: ['authenticated'],
  data() {
    return {}
  },
  jsonld() {
    return {
      '@context': 'http://schema.org',
      '@type': 'Organization',
      name: 'Frontmen B.V.',
      alternateName: 'Frontmen',
      description: 'Cool description',
      url: 'https://www.frontmen.nl/',
      logo: 'https://www.frontmen.nl/images/contact/fm-monogram-logo.png',
      image: 'https://www.frontmen.nl/images/contact/fm-monogram-logo.png',
      address: {
        '@type': 'PostalAddress',
        addressLocality: 'Utrecht',
        addressCountry: 'The Netherlands',
        addressRegion: 'Utrecht',
        postalCode: '3534 AP',
        streetAddress: 'Tractieweg 41 (Studio B)'
      },
      email: 'info@frontmen.nl',
      telephone: '( 31 ) 30 26 58 108',
      contactPoint: [
        {
          '@type': 'ContactPoint',
          telephone: '+31 30 26 58 108',
          contactType: 'customer service'
        }
      ],
      openingHours:
        'Mo 08:00-18:00 Tu 08:00-18:00 We 08:00-18:00 Th 08:00-18:00 Fr 08:00-18:00',
      sameAs: [
        'https://www.linkedin.com/company/frontmen-frontend-experts',
        'https://medium.com/frontmen'
      ],
      numberOfEmployees: {
        '@type': 'QuantitativeValue',
        minValue: 100,
        maxValue: 150,
        unitText: 'employees'
      },
      geo: {
        '@type': 'GeoCoordinates',
        latitude: 52.104761,
        longitude: 5.079438
      },
      knowsAbout:
        'Frontend Development, JavaScript development, React, Vue, Angular, NodeJS'
    }
  },
  mounted() {
    this.$moment.locale(this.$i18n.locale)
    this.$i18n.onLanguageSwitched = (oldLocale, newLocale) => {
      this.$moment.locale(newLocale)
    }
  }
}
</script>
