<template>
  <v-layout column justify-center align-center>
    <v-flex xs12 sm8 md6>
      <h1>{{ $t('pages.home.headline') }}</h1>
      <ArticlesListComponent
        v-if="$auth.loggedIn && articles"
        :articles="articles"
        class="mt-8"
      />
      <NotLoggedInComponent
        v-else
        :notLoggedInMsg="$t('components.articlesList.notLoggedIn')"
      />
      <v-row v-if="$auth.loggedIn">
        <v-col
          ><v-btn color="purple" dark :to="localePath('articles')">
            {{ $t('buttonLabels.allArticles') }} ({{ articlesCount }})
          </v-btn></v-col
        >
      </v-row>
    </v-flex>
  </v-layout>
</template>

<script>
import homepageQuery from '~/graphql/homepageQuery.graphql'
import ArticlesListComponent from '~/components/articles/list'
import NotLoggedInComponent from '~/components/notLoggedIn'

export default {
  name: 'HomePage',
  components: {
    ArticlesListComponent,
    NotLoggedInComponent
  },
  nuxtI18n: {
    paths: {
      en: '/',
      nl: '/'
    }
  },
  computed: {
    articles() {
      return this.$store.getters['articles/articles'](3)
    },
    articlesCount() {
      return this.$store.getters['articles/articlesCount']
    }
  },
  data() {
    return {
      homepage: null
    }
  },
  mounted() {
    this.$store.dispatch('articles/getArticles')
  },
  apollo: {
    homepage: {
      query: homepageQuery,
      result({ data }) {
        this.homepage = data?.homepage
      },
      prefetch: true
    }
  },
  head() {
    if (this.homepage) {
      const metadata = this.homepage.SEO
      const path = this.$route.path
      return this.createSeoTags({ metadata, path })
    }
  }
}
</script>
