<template>
  <v-layout>
    <v-flex v-if="!$auth.loggedIn" class="text-center">
      <h1>{{ $t('pages.login.headline') }}</h1>
      <v-form ref="form" v-model="formValid">
        <v-text-field
          v-model="identifier"
          :label="$t('formLabels.login.usernameOrEmail')"
          required
        ></v-text-field>
        <v-text-field
          v-model="password"
          :append-icon="showpassword ? 'mdi-eye' : 'mdi-eye-off'"
          :type="showpassword ? 'text' : 'password'"
          :label="$t('formLabels.login.password')"
          @click:append="showpassword = !showpassword"
        ></v-text-field>
      </v-form>
      <v-btn color="primary" @click.native="doLocalLogin()">
        {{ $t('buttonLabels.userLogin') }}
      </v-btn>
    </v-flex>
    <v-flex v-if="$auth.loggedIn" class="text-center">
      <h1>{{ $t('pages.login.loggedIn') }}!</h1>
      <p>{{ $auth.user.username }}</p>
      <p>
        {{ $t('pages.login.redirectUser') }} {{ (timer/1000) }}
        {{ $t('pages.login.seconds') }}
      </p>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  name: 'LoginPage',
  components: {},
  nuxtI18n: {
    paths: {
      en: '/login',
      nl: '/inloggen'
    }
  },
  data() {
    return {
      identifier: 'niek@frontmen.nl',
      password: 'User1123!',
      provider: 'local',
      formValid: true,
      showpassword: false,
      timer: 2000,
      interval: 1000,
      intervalObj: {}
    }
  },
  methods: {
    async doLocalLogin() {
      try {
        const loginLocalUser = await this.$auth.loginWith('localUser', {
          data: {
            identifier: this.identifier,
            password: this.password
          }
        })
        await this.$apolloHelpers.onLogin(loginLocalUser.data.jwt)
        // Countdown the timer
        this.intervalObj = setInterval(() => {
          this.timer -= this.interval
          // Redirect to homepage
          if (this.timer === 0) {
            this.$router.push(this.localePath('/'))
          }
        }, this.interval)
      } catch (error) {
        console.log(`Error loginLocalUser: `, JSON.stringify(error))
      }
    }
  }
}
</script>
