<template>
  <v-layout>
    <v-flex class="text-center">
      <h1>{{ $t('pages.logout.headline') }}</h1>
      <div v-if="$auth.loggedIn">
        <v-btn color="primary" @click.native="doLogout()">
          {{ $t('buttonLabels.logout') }}
        </v-btn>
      </div>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  name: 'LogoutPage',
  nuxtI18n: {
    paths: {
      en: '/logout',
      nl: '/uitloggen'
    }
  },
  methods: {
    doLogout() {
      this.$auth.logout()
      this.$apolloHelpers.onLogout()
      this.$store.commit('articles/clearArticles')
      this.$router.push(this.localePath('/'))
    }
  }
}
</script>
