<template>
  <v-layout>
    <v-flex v-if="$auth.loggedIn" class="text-center">
      <h1>{{ $t('pages.profile.headline') }}</h1>
      <div v-if="$auth.user.role">
        <div>Username: {{ $auth.user.username }}</div>
        <div>Confirmed: {{ $auth.user.confirmed }}</div>
        <div>Blocked: {{ $auth.user.blocked }}</div>
        <div>Email: {{ $auth.user.email }}</div>
        <div>Provider: {{ $auth.user.provider }}</div>
        <div>Created At: {{ $auth.user.createdAt }}</div>
        <div>Updated At: {{ $auth.user.updatedAt }}</div>
        <div>Role: {{ $auth.user.role.name }}</div>
      </div>

      <div>{{ $auth.user }}</div>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  name: 'ProfilePage',
  nuxtI18n: {
    paths: {
      en: '/profile',
      nl: '/profiel'
    }
  }
}
</script>
