<template>
  <v-layout>
    <v-flex v-if="!$auth.loggedIn" class="text-center">
      <h1>{{ $t('pages.signup.headline') }}</h1>
      <v-form ref="form" v-model="formValid">
        <v-text-field
          v-model="username"
          :label="$t('formLabels.signup.username')"
          required
        ></v-text-field>
        <v-text-field
          v-model="email"
          :label="$t('formLabels.signup.email')"
          required
        ></v-text-field>
        <v-text-field
          v-model="password"
          :append-icon="showpassword ? 'mdi-eye' : 'mdi-eye-off'"
          :type="showpassword ? 'text' : 'password'"
          :label="$t('formLabels.signup.password')"
          @click:append="showpassword = !showpassword"
        ></v-text-field>
      </v-form>
      <v-btn color="primary" @click.native="doSignup()">
        {{ $t('buttonLabels.signup') }}
      </v-btn>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  name: 'SignupPage',
  nuxtI18n: {
    paths: {
      en: '/signup',
      nl: '/registreren'
    }
  },
  data() {
    return {
      email: 'niek@frontmen.nl',
      password: 'contentmoderator1123!',
      username: 'user5',
      formValid: true,
      showpassword: false
    }
  },
  methods: {
    async doSignup() {
      try {
        const register = await this.$strapi.register({
          email: this.email,
          username: this.username,
          password: this.password
        })
        console.log(`register: `, register)
      } catch (error) {
        console.log(`Register error: `, JSON.stringify(error))
        console.log(`error data: `, error.response.data)
      }
    }
  }
}
</script>
