<template>
  <div>
    <v-card
      :to="
        localePath({
          name: 'articles-slug',
          params: { slug: article.slug }
        })
      "
      class="mx-auto"
    >
      <v-img
        class="white--text align-end"
        height="200px"
        :srcset="`${getMediaURL(article.media[0].formats.small.url)} ${
          breakpoints.sm
        }w, ${getMediaURL(article.media[0].formats.medium.url)} ${
          breakpoints.md
        }w, ${getMediaURL(article.media[0].formats.large.url)} ${
          breakpoints.md
        }w`"
        :sizes="`(max-width: ${breakpoints.sm}px), (min-width: ${breakpoints.sm}px) (max-width: ${breakpoints.md}px), (min-width: ${breakpoints.md}px)`"
        :src="getMediaURL(article.media[0].formats.large.url)"
        :alt="article.media[0].alternativeText"
      >
        <v-card-title class="title">{{ article.title }}</v-card-title>
      </v-img>
      <v-card-subtitle class="pb-0">{{
        $moment(article.updatedAt).format('LL')
      }}</v-card-subtitle>
      <v-card-text class="text--primary">
        {{ article.summary }}
      </v-card-text>
      <v-card-actions>
        <v-btn
          color="purple"
          text
          :to="
            localePath({
              name: 'articles-slug',
              params: { slug: article.slug }
            })
          "
        >
          {{ $t('buttonLabels.readMore') }}
        </v-btn>
        <v-spacer />
      </v-card-actions>
    </v-card>
    <ArticleSpeedDialComponent :article="article" />
  </div>
</template>

<script>
import ArticleSpeedDialComponent from '~/components/speedDials/article'

export default {
  name: 'ArticleComponent',
  components: {
    ArticleSpeedDialComponent
  },
  props: {
    article: Object
  },
  data() {
    return {
      breakpoints: {}
    }
  },
  beforeMount() {
    this.breakpoints = this.$vuetify.breakpoint.thresholds
  }
}
</script>

<style scoped>
.title {
  text-shadow: 2px 2px 2px rgba(150, 150, 150, 0.6);
}
</style>
