<template>
  <v-navigation-drawer v-model="drawer" disable-resize-watcher app>
    <v-list>
      <v-list-item :to="localePath('/')" router exact>
        <v-list-item-action>
          <v-icon>mdi-home</v-icon>
        </v-list-item-action>
        <v-list-item-content>
          <v-list-item-title v-text="$t('buttonLabels.home')" />
        </v-list-item-content>
      </v-list-item>

      <v-list-item
        v-if="!$auth.loggedIn"
        :to="localePath('signup')"
        router
        exact
      >
        <v-list-item-action>
          <v-icon>mdi-account-plus</v-icon>
        </v-list-item-action>
        <v-list-item-content>
          <v-list-item-title v-text="$t('buttonLabels.signup')" />
        </v-list-item-content>
      </v-list-item>
      <v-list-item
        v-if="!$auth.loggedIn"
        :to="localePath('login')"
        router
        exact
      >
        <v-list-item-action>
          <v-icon>mdi-login</v-icon>
        </v-list-item-action>
        <v-list-item-content>
          <v-list-item-title v-text="$t('buttonLabels.userLogin')" />
        </v-list-item-content>
      </v-list-item>
      <v-list-item
        v-if="!$auth.loggedIn"
        :to="localePath('admin-login')"
        router
        exact
      >
        <v-list-item-action>
          <v-icon>mdi-login</v-icon>
        </v-list-item-action>
        <v-list-item-content>
          <v-list-item-title v-text="$t('buttonLabels.adminLogin')" />
        </v-list-item-content>
      </v-list-item>
      <v-list-item
        v-if="$auth.loggedIn"
        :to="localePath('logout')"
        router
        exact
      >
        <v-list-item-action>
          <v-icon>mdi-logout</v-icon>
        </v-list-item-action>
        <v-list-item-content>
          <v-list-item-title v-text="$t('buttonLabels.logout')" />
        </v-list-item-content>
      </v-list-item>
      <v-list-item
        v-if="$auth.loggedIn"
        :to="localePath('articles')"
        router
        exact
      >
        <v-list-item-action>
          <v-icon>mdi-clipboard-list-outline</v-icon>
        </v-list-item-action>
        <v-list-item-content>
          <v-list-item-title v-text="$t('buttonLabels.articles')" />
        </v-list-item-content>
      </v-list-item>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
export default {
  name: 'LeftDrawerComponent',
  data() {
    return {}
  },
  computed: {
    drawer: {
      get() {
        return this.$store.getters['drawers/leftDrawerState']
      },
      set(state) {
        if (!state) {
          return this.$store.commit('drawers/toggleLeftDrawer')
        }
      }
    }
  }
}
</script>
