<template>
  <client-only>
    <v-breadcrumbs :items="breadcrumbs">
      <template v-if="breadcrumbs.length > 0" v-slot:item="{ item }">
        <v-breadcrumbs-item
          :to="localePath(item.to)"
          :disabled="item.disabled"
          :exact="true"
          r
          ripple
        >
          {{ item.name.toUpperCase() }}
        </v-breadcrumbs-item>
      </template>
    </v-breadcrumbs>
  </client-only>
</template>

<script>
export default {
  name: 'BreadcrumbsComponent',
  data() {
    return {}
  },
  computed: {
    breadcrumbs() {
      let crumbs = []
      // Remove 1st /
      let path = this.$route.fullPath.substr(1)
      // Split items
      let pathArray = path.split('/')
      // Set Home
      pathArray[0] = '/'
      // Create the breadcrumb items
      if (pathArray.length > 1) {
        pathArray.map((elem, i) => {
          crumbs.push({
            to: elem,
            name: elem === '/' ? 'Home' : `${elem.replace(/-/g, ' ')}`,
            disabled: pathArray.length === i + 1 ? true : false
          })
        })
      }
      return crumbs
    }
  },
  jsonld() {
    const items = this.breadcrumbs.map((item, index) => ({
      '@type': 'ListItem',
      position: index + 1,
      item: {
        '@id': item.to,
        name: item.name
      }
    }))
    return {
      '@context': 'http://schema.org',
      '@type': 'BreadcrumbList',
      itemListElement: items
    }
  }
}
</script>
